<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="categories-content">
  <ion-button
    *ngIf="selectedIds.length > 0"
    expand="block"
    color="primary"
    class="ion-margin move-button"
    (click)="moveSelectedItems()"
  >
    Mover {{ selectedIds.length }} itens
  </ion-button>

  <ion-list class="categories-list" lines="none">
    
    <ng-container *ngFor="let group of groupedWarranties; trackBy: trackByCategory">
      
      <div
        class="category-group"
        *ngIf="group.items.length > 0"
      >
        <ion-item-divider sticky class="category-header">
          <ion-label>{{ group.category }}</ion-label>
        </ion-item-divider>

        <ion-item *ngFor="let warranty of group.items; trackBy: trackByWarranty" class="warranty-item">
          <ion-checkbox
            slot="start"
            [checked]="isSelected(warranty.id)"
            (ionChange)="toggleSelection(warranty.id)"
          ></ion-checkbox>

          <ion-label>
            <h2>{{ getTitle(warranty) }}</h2>
            <p>Fim da garantia: {{ warranty.endDate | date:'dd/MM/yyyy' }}</p>
          </ion-label>
        </ion-item>
      </div>

    </ng-container>

  </ion-list>
</ion-content>